.cubito{
  display:block;
    align-content: center;

 }
  .texto:hover{

    color:red;
  }
  .xd{
    border-right:solid 1px #c5c5c5;
    align-content: center;
    /*background: red;*/
  }

  .selek{
    width: 
  }