  .texto:hover{
    color:red;
  }
  .xd{
    border-right:solid 1px #c5c5c5;
    align-content: center;
    /*background: red;*/
  }
  .bgRed{
    background-color:#CC0000;
  }
  .bgblack{
    background-color:black;
    color:white;
  }